.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 30px ;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #05d1ec, #05ec6d);
}
.h1{
    position: relative;
    text-align: center;
    color: #048bb4;
    font-size: 2rem;
    text-shadow: 1px 1px 2px #26383d;
    

}
.h1::after{
    content: ' ';
 position: absolute;
 left: 50%;
 bottom: -10%;
 transform: translateX(-50%);
 width: 8%;
 height: 3px;
 background: #4a7003;
 

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    margin: auto;
    gap: 30px;
    justify-content: center;
    width: 95%;
    /* border: 1px solid; */
}
.single-tem {
    display: flex;
    box-shadow: 1px 2px 9px rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    transition: all 1s;
}
.single-tem:hover{
  transform: scale(1.02);
}
img {
    width: 110px;
    height: 80%;
    border: 3px solid #82c20a;
    margin:  auto 20px;
}
button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    margin: 10px 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 1px 2px 9px rgba(0,0,0,0.5);
    cursor: pointer;

}
@media screen and (max-width:900px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .button-wrapper{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    button {
        width: 120px;
        font-size: 0.85rem;
        margin: 20px 5px 10px;
        font-weight: 600;
    }
    
}