*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
.details-page{
    background-color: #000;
    width: 50%;
    padding: 10px;
    margin: 30px auto;
}
.details-page img{
    width: 100%;
    height: 300px;
    object-fit:scale-down;
    margin-bottom: 20px;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: aquamarine;
}
.category{
    margin: 10px; 
    color: #3f5d61;
}
h5{
    font-size: 1.3rem;
    color: #ffffff;
    margin: 10px auto 20px;
}
.about{
    width: 90%;
    margin: auto;
}
.title{
    text-align: center;
    margin: 30px auto ;
    font-size: large;
}
.about-body{
    font-size: 1.3rem;
    text-align: justify;
}
@media screen and (max-width:400px) {
    .details-page{
        width: 80%;
    }   
}
@media screen and (max-width:700px) {
    .details-page{
        width: 80%;
    }   
}